.item div {
  width: 3vw;
}

/* .App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.items {
  border: 1px solid #d1d1d1;
  padding: 1rem 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  text-decoration: none;
}
.items:hover {
  background-color: #e5e5e5;
}

.exploreBy {
  margin-left: 4.5%;
}

.slider {
  margin-top: 5%;
}
